@import url('../../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');

.redirect-button{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #936bca;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  float:right;
  position: relative;
  bottom: -1.20em;
  left: -6.4em;

}
.redirect-button:hover{
  opacity: 1;
  cursor: pointer;
}
mat-icon{
  color:rgb(212, 64, 212);
}

.card-color{
  color:rgb(60, 29, 60);
  font-size: 30px;
}


mat-card {
  margin: 5% 20%;
  background-color: rgb(210, 190, 212,0.729);
}

.full-width {
  width: 100%;

}
 input{
  width: 85%;
  height: 40px;

}
input::after{
  color:rgb(105, 29, 29);
}

label{
  color: rgb(98, 5, 98);
  font-size: 20px;
}


header {
  margin-bottom: 3%;
  margin-top: 3%;
  margin-left: 15px;
}
.mat-raised-button{
  background-color: rgb(164, 8, 143);
  color: beige;
  opacity: 1;
  cursor: pointer;
  height: 40px;
  width: 25%;
  margin-left: 15px;
  border-radius: 30px;
}

strong{
  color:rgb(12, 74, 12);
}
a{
  margin-left: 65rem;
  font-size: large;
  
}

mat-error{
  color:rgb(123, 2, 2);
}




