.mat-raised-button{
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #936bca;
  border: none;
  border-radius: 15px;
  float:right;
  position: relative;
  bottom: -.10rem;
  left: -6.4rem;

}
.mat-raised-button2{
  display: inline-block;
  padding:15px 25px;
  font-size: 24px;
  cursor: pointer;
  background-color: #936bca;
  border: none;
  border-radius: 15px;
  position:relative;
  bottom: -.10em;
  text-decoration: none;
  outline: none;
  color: #fff;
  right:-6.4rem;
}
.redirect-button:hover{
  opacity: 1;
  cursor: pointer;
}
.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.flex {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.left,
.right {
  display:block;
}

.left {
  float: left;
}

.right {
  text-align: right;
  float: right;
}

