<!DOCTYPE html>
<html lang="de">
<app-cards></app-cards>
<mat-sidenav-container class="sidenav-container" tabindex="0">
      <span *ngIf="isLoggedIn" class="menu-container" tabindex="0">
        <a routerLink="/users">{{username}}</a>
     </span>
     <body>
<section>
  <button class="mat-raised-button" tabindex="0" type="button" (click)="changeRoute()" >zur Schüler Übersicht Tabelle
  </button>
</section>
<section>
  <button class="mat-raised-button2" tabindex="0" (click)="callLogout()">Logout
  </button>
</section>
</body>




