.container {
  background-color: rgba(210, 190, 212, 0.729);
  font-size:small;
  border-radius: 30px;
  width: 400rem;
  height:40rem;
  line-height: 60px;
}



.form-floating{
  font-weight: bold;
}

.btn-success{
 background-color: rgb(196, 123, 152);
 

}

.btn-secondary{
  background-color: rgb(196, 123, 152);
}
