.full-width {
  width: 100%;

}

title{
  color:rgb(60, 21, 60);
}

mat-icon{
  color:rgb(212, 64, 212);
}

mat-card {
  margin: 5% 10%;
  background-color: rgb(210, 190, 212,0.729);
}


.shipping-card {
  min-width: 120px;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin: 3% auto;
  color: rgb(184, 68, 229);
}

input{
  background-color:white;
  width: 85%;
  height: 40px;
  margin-left: 20px;

}
label{
  color: rgb(124, 0, 124);
  font-size: 18px;
  margin-left: 20px;
}
header {
  margin-bottom: 3%;

}

h1{
 margin-left: 20px;
 color:rgb(60, 21, 60);
}

a{
  color:rgb(60, 21, 60) ;
  margin-left: 60rem;
}

.mat-raised-button{
  background-color: blueviolet;
  color: beige;
  opacity: 1;
  cursor: pointer;
  height: 40px;
  width: 25%;
  margin-left: 15px;
  border-radius: 40px;
}
select{
  width: 85%;
  height: 40px;
  margin-left: 20px;
}



