.card {
  margin: 100px;
  border: 1px solid #ccc;
  float: center;
  width: 200px;
}

.card-img-top {
  width: 5rem;
  height: 5rem;
  border-radius: 2,60rem;
  object-fit: cover;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 1.5rem;
  margin-top: 0.5rem;
  border-bottom: 1px solid #e4e4e4;
  border-radius: 2.5rem;
}

.card-body {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}
