
<!DOCTYPE html>
<html lang="de">
  <head>
    <title> Kurse Übersicht seite</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<ul >
  <li tabindex="0">
    <img src="../assets/images/geometry.jpg" alt="etwas beschreibt Mathemathik" tabindex="0"/>
    <section class="details">
      <section class="header">
        <span class="name"><h2>Mathe Kurs</h2></span>
      </section>
      <span class="kurse-time">Montags vom 15:30 bis 17:30 Uhr und Freitags vom 13:00 bis 15:00 Uhr</span>
    </section>

      <li tabindex="0">
     <img src="../assets/images/physik.jpg" alt="physik themen" tabindex="0"/>
     <section class="details">
       <section class="header">
         <span class="name"><h2>Physik Kurs</h2></span>
       </section>
       <span class="time">Donnerstags vom 13:00 bis 15:00 Uhr</span>
      </section>

    <li tabindex="0">
      <img src="../assets/images/chemie.jpg" alt="chemie themen" tabindex="0"/>
      <section class="details">
        <section class="header">
          <span class="name"><h2>Chemie Kurs</h2></span>
        </section>
        <span class="time">Mitwochs vom 13:00 bis 15:00 Uhr</span>
      </section>

          <li tabindex="0">
            <img src="../assets/images/Biologie.jpg" alt="Biologie Thema" tabindex="0"/>
            <section class="details">
              <section class="header">
                <span class="name"><h2>Biologie Kurs</h2></span>
              </section>
              <span class="time">Montags vom 15:00 bis 17:00 Uhr</span>
            </section>

            <li tabindex="0">
        <img src="../assets/images/german.jpg" alt="Deutsch kurse" tabindex="0"/>
        <section class="details">
          <section class="header">
            <span class="name" ><h2>Deutsch Kurs</h2></span>
          </section>
          <span class="time">Dienstags vom 13:00 bis 15:00 Uhr </span>
        </section>

        <li tabindex="0">
            <img src="../assets/images/Englisch.jpg" alt="Englisch kurse" tabindex="0"/>
            <section class="details">
              <section class="header">
                <span class="name"><h2>Englisch Kurs</h2></span>
              </section>
              <span class="time">Montags vom 13:00 bis 15:00 Uhr</span>
            </section>
            </li>
            </ul>





