<ul>
  <li>
    <img src="../assets/images/geometry.jpg"/>
    <div class="details">
      <div class="header">
        <span class="name"> </span>
      </div>
      </div>
      <div class="kurse-time">
        <span></span>
        </div>
      <li>
     <img src="../assets/images/physik.jpg"/>
     <div class="details">
       <div class="header">
         <span class="name"> </span>
       </div>
       </div>
       <div class="kurse-time">
         <span> </span>
      </div>
    <li>
      <img src="../assets/images/chemie.jpg"/>
      <div class="details">
        <div class="header">
          <span class="name"> Chemie Kurs</span>
        </div>
        </div>
        <span class="kurse-time"></span>
          <li>
            <img src="../assets/images/Biologie.jpg"/>
            <div class="details">
              <div class="header">
                <span class="name"></span>
              </div>
            </div>
              <div class="kurse-time">
                <span>
                  
                </span>
              </div>
            <li>
        <img src="../assets/images/german.jpg"/>
        <div class="details">
          <div class="header">
            <span class="name"> </span>
          </div>
          </div>
          <div class="kurse-time">
            <span>
              
            </span>
         </div>
        <li>
            <img src="../assets/images/Englisch.jpg"/>
            <div class="details">
              <div class="header">
                <span class="name"></span>
              </div>
              </div>
              <div class="kurse-time">
                <span>
                  
                </span>
              </div>
            </li>
            </ul>





