<main class="d-flex min-vh-100">
  <fieldset class="container  mt-5">
    <legend *ngIf="student" class="mb-4">Eintrag von {{ student.firstname }} {{ student.lastname }} {{ student.kurse }}  aktualisieren
    </legend>
    <legend *ngIf="!student" class="mb-4">Eintrag aktualisieren</legend>
    <form [formGroup]="form" (ngSubmit)="update()">
      <div class="mb-3 row">
        <label class="col-2 col-form-label" for="firstname">Vorname</label>
        <div class="col-10">
          <input type="text" class="form-control" id="firstname" placeholder="Vorname"
          formControlName="firstnameControl" />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-2 col-form-label" for="lastname">Nachname</label>
        <div class="col-10">
          <input type="text" class="col-10 form-control" id="lastname" placeholder="Nachname"
          formControlName="lastnameControl" />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-2 col-form-label" for="email">E-Mail</label>
        <div class="col-10">
          <input type="email" class="col-10 form-control" id="email" placeholder="E-Mail" formControlName="emailControl" />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-2 col-form-label" for="address">Wohnadresse</label>
        <div class="col-10">
          <input type="text" class="col-10 form-control" id="address" placeholder="Wohnadresse" formControlName="addressControl" />
        </div>
      </div>
      <div class="mb-3 row">
        <label class="col-2 col-form-label" for="kurse">Kurse</label>
        <div class="col-10">
          <input type="text" class="col-10 form-control" id="kurse" placeholder="kurse" formControlName="kurseControl" />
        </div>
      </div>
      <div class="row ">
        <button type="submit" class="col-5 btn btn-secondary">Aktualisieren</button>
        <div class="col-2"></div>
        <button type="button" class="col-5 btn btn-secondary" (click)="cancel() ">Abbrechen</button>
      </div>
    </form>
  </fieldset>
</main>
