<div *ngIf="!deleted"  class="container mt-3">
  <h3 class="m-3">Alle Einträge</h3>
  <div class="table-responsive">
    <table class="m-3 table table-striped table-hover">
      <caption>Alle <code>Students</code></caption>
      <thead>
        <tr>
          <th scope="col ">Nr</th>
          <th scope="col ">Vorname</th>
          <th scope="col ">Nachname</th>
          <th scope="col ">E-Mail</th>
          <th scope="col ">Wohnadresse</th>
          <th scope="col ">Kurse</th>
          <th scope="col ">Bearbeiten</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let student of students; let i=index; ">
          <td>{{ i+1 }}</td>
          <td>{{ student.firstname }}</td>
          <td>{{ student.lastname }}</td>
          <td>{{ student.email }}</td>
          <td>{{ student.address }}</td>
          <td>{{ student.kurse }}</td>
          <td>
            <a [routerLink]="['/student', student._id]"> <span class= "bi bi-pencil-square px-5"></span></a>
            <span (click)="delete(student._id)" class=" bi bi-trash px-5 ">löschen</span>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>
<div *ngIf="deleted" class=" container mt-3 ">
  <h3>Datensatz wurde gelöscht!</h3>
  <button type="button" class="btn btn-secondary" (click)="reload(false)">Zurück zur Tabelle</button>
</div>

