@import url('../../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');
.bi-person-plus-fill{
  color:blue;
  float:right;
  position: auto;
  font-size: medium;
  margin-top: 20px;
}

.bi-trash{
  color:red;
}

.bi-pencil-square{
  color:blue;
}

h2{
  color:#6623c5;
}


.redirect-button{
  display: inline-block;
  padding:15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #936bca;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  float:right;
  position:relative;
  bottom: -.10rem;
  left: -5.4rem;


}
.redirect-button2{
  display: inline-block;
  padding:15px 25px;
  font-size: 24px;
  cursor: pointer;
  background-color: #936bca;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  position:relative;
  bottom: -.10rem;
  text-decoration: none;
  outline: none;
  color: #fff;
  right:-6.4rem;
}
.redirect-button:hover{
  opacity: 1;
  cursor: pointer;
}
