@import url('../../../../node_modules/bootstrap-icons/font/bootstrap-icons.css');
.bi-person-plus-fill{
  color:#441883;
  float:right;
  position: auto;
  font-size: medium;
  margin-top: 20px;
}

.bi-trash{
  color:rgb(146, 25, 25);
}

.bi-pencil-square{
  color:rgb(44, 44, 158);
}

h2{
  color:#4602a7;
}


.mat-raised-button{
  display: inline-block;
  padding:15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #936bca;
  border: none;
  border-radius: 15px;
  float:right;
  position:relative;
  bottom: -.10rem;
  left: -5.4rem;


}
.mat-raised-button2{
  display: inline-block;
  padding:15px 25px;
  font-size: 24px;
  cursor: pointer;
  background-color: #936bca;
  border: none;
  border-radius: 15px;
  position:relative;
  bottom: -.10rem;
  text-decoration: none;
  outline: none;
  color: #fff;
  right:-6.4rem;
}
