h1{
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  font-size: 6vw;
  text-align: center;
  margin-top: 50px;

}

.mat-raised-button{
  color: beige;
  margin-left: 15px;
  border-radius: 30px;
  cursor: pointer;
  background-color: #936bca;
  float:right;
  position: relative;
  bottom: -24.20em;
  left: -7.4em;
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
}
.mat-raised-button:hover{
  opacity: 1;
  cursor: pointer;
}



.object-fit img{
  margin-left: 60px;
  margin-top: 80px;
  margin-bottom: 200px;
  width: 65%;
  height: 80%;
  border-radius: 40px;
}

