
<!DOCTYPE html>
<html lang="de">
  <head>
    <title>Nachhilfe Schule - kurse und Anmeldung</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
<body>
  <h1 tabindex="0">Light Nachhilfe</h1>
  <section>
    <button class="mat-raised-button" typ="submit" [routerLink]="'users/login'"> anmeldung</button>
  </section>
  <div class="object-fit" ><img src="../assets/images/schule.jpeg" alt="schule logo, drei personen mit einem Buch und Lernmateriale " tabindex="0"/></div>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  </body>


